body {
  background-color: lightblue;
  font-size: 175%;
  text-align: center;
  overflow-x: hidden;
  margin: 0%;
  }

h1 {
  color: navy;
  font-size: 50px;
  position: relative;
  width: 25vw;
  margin: 0px;
  padding: 0px;
  padding-left: 10%;
  padding-right: 10%;
  
  
}
h2 {
  color: green;
  margin-left: 10%;
  font-size: large;
}
p {
  color: lightcyan;
  margin-left: 10%;
  font-size: small;
}

ol{
  color: pink;
  margin-left: 20%;
  font-size: small;

}
strong{
  font-style: italic;
  font-style: bold;

}
code{
  color: white;
  background-color: green;

  border: 50px;
  border-color: rgb(81, 30, 30); 
}





#highlight{
  color: yellow;
  font-weight: bold;
}

.mainMenu {
  position: fixed;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 100px;
  margin-bottom: 10%;
  color: black;
  background-color: lightgrey;
  display: none
  
}

.mainMenu ul{
    list-style-type: none;
    position: relative;
    padding-left: 10%; 
    padding-right: 10%; 

}

.mainMenu li{
    display: inline-block;
    position: relative;
}

.Header {
  padding-left: 10%;
  padding-right: 10%;
  display: inline-flex;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  width: 100vw;
  position: fixed;
}

#logo{

  color: navy;
  position: relative;
  text-align: center;
  right: 1vw;
}
#menu{
  color: navy;
  position: relative;
  text-align: center;
  left: 1vw;
}
#bgPic{
  width:100vw;
  height: 100vh;
  background-repeat: no-repeat, repeat;
  background-size: cover;
}